.container{
    
    display:flex;
    flex-direction: column;
    height:20%;
    width:25%;
    margin-left: 35%;
    margin-top: 8%;
    flex: 1;
    border:2px solid black;
    padding: 2%;
}
.demo{
    
    height:80px;
    border:green solid 2px;
    margin-bottom: 5px;
    overflow: hidden;
    font-size: 50px;
    display: flex;
    align-items: end;
    justify-content: end;
}
.board{
    display: flex;
    height:300px;
}
.nums{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    
}
.ops{
    display: flex;
    flex-direction: column;
    width:30%;
}
.number{
    width:33.33%;
    background-color:black;
    color: orangered;
    border-radius: 25%;
    font-size: large;
}
.operatorB{
    width: 33.33%;
    color:black;
    background-color: orangered;
    border-radius: 25%;
    font-size: large;
}
.operator{
    height: 25%;
    color:black;
    background-color: orangered;
    border-radius: 25%;
    font-size: xx-large;
}